body {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;

    h1 {
        font-weight: 700;
        font-size: 3em;
    }

    h2 {
        margin-top: 30px;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    h3 {
        font-weight: 400;
    }

    /* font-family: 'Noto Sans', sans-serif; */

    p {
        line-height: 1.5em;
    }


    background: #fff; /* Fills the page */

    img.headshot {
        height: 6em;
        width: 5.6em;
        margin : 5px 20px 5px 0;
    }
    
    #top {
        position : relative;
        img.background {
            border: 0;
            position : absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        h1 { margin-left: 20px; }
        ul.details {
            margin: 20px 0 0 0 ;
            font-family: 'Georgia', serif;
            font-size: 0.9em;
            list-style-type: none;
            padding-left: 1em;
            text-indent: -1em;
            li { line-height: 1.2em; }
            img.logo { height: 16px; width: 16px; }
        }
        ul.details.social {
            margin: 0;
            position: absolute;
            right: 10px;
            top: 30px;
        }
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
    }

    div.project,div.semester,div.pubtype {
        div { float : left; }
        div.name { 
            h3 { margin: 0; padding: 0; }
        }
        div.courses,div.pubs {
            ul {
                margin: 0; padding: 0; line-height: 1.6em;
            }
        }
        div.pubs ul li {
            margin-bottom: 10px;
            .award { font-weight: 700; }
            .pub { font-style: italic; }
        }
        div.description { 
            p { margin: 0; padding: 0 }
        }
        margin-bottom: 30px;
    }
}

